.chat-group {
  position: fixed;
}

.side-bar {
  background-color: royalblue;
  height: 100vh;
  color: aliceblue;
  text-align: left;
  position: fixed;
}

.wd {
  position: absolute;
  right: 0;
}
