<div class="container-fluid">
  <div class="chat-group row">
    <div class="col-md-2 side-bar">
      <h3>Chat group</h3>
      <ul *ngFor="let user of user">
        <li style="color: greenyellow; font-size: large;"><a [routerLink]="['/user', user.userName]"
                                                             style="color: white">{{user.userName}}</a></li>
      </ul>
      <ul *ngFor="let item of userService.userList">
        <li>
          <a style="color: white" [routerLink]="['', item.id]">{{item.username}}
          </a>
          <br>
          <a style="color: #5cff3c" *ngIf="item.status">online</a>
          <a style="color: #11f0ff" *ngIf="!(item.status)">offline</a>
        </li>
      </ul>
    </div>
  </div>
</div>
